In [6]:
import pandas as pd

In [5]:
numeros= [3,4,5,6,7]
serie= pd.Series(numeros)
serie, type(serie)

(0    3
 1    4
 2    5
 3    6
 4    7
 dtype: int64,
 pandas.core.series.Series)

In [1]:
data= {"nombre":["ana", "Juan", "Pedro", "Maria", "Luis"],
       "edad": [22, 24, 25, 26, 20],
       "ciudad": ["Barcelona", "Madrid", "Valencia", "Sevilla","Bilboa"]}

In [3]:
data,type (data)

({'nombre': ['ana', 'Juan', 'Pedro', 'Maria', 'Luis'],
  'edad': [22, 24, 25, 26, 20],
  'ciudad': ['Barcelona', 'Madrid', 'Valencia', 'Sevilla', 'Bilboa']},
 dict)

In [4]:
import numpy as np

In [9]:
data= {"nombre":["ana", "Juan", "Pedro", "Maria", "Luis"],
       "edad": [22, 24, 25, np.nan, 20],
       "ciudad": ["Barcelona", "Madrid", "Valencia", None,"Bilboa"]}

df= pd.DataFrame(data)
df

  nombre  edad     ciudad
0    ana  22.0  Barcelona
1   Juan  24.0     Madrid
2  Pedro  25.0   Valencia
3  Maria   NaN       None
4   Luis  20.0     Bilboa